* {
    font-family: 'Source Sans Pro';
}

h1, h2, h3, h4, h5, h6, p {
    color: #0F172A;
}

input, select {
    padding: 6.5px 11px;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: 'tnum';
    position: relative;
    display: inline-block;
    color: rgba(0, 0, 0, 0.85);
    line-height: 1.5715;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all 0.3s;
}

input:hover, select:hover {
    border-color: #40a9ff;
    border-right-width: 1px !important;
}

input:focus, select:hover {
    border-color: #40a9ff;
    border-right-width: 1px !important;
    outline: 0;
    box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
}